<!--
    Parte de la aplicación donde se previsualizarán 
    los cambios realizados sobre las formas
    Inluído en app.component
-->

<div class="container">
    <div class="preview-container">
        <div id="shapePreview" [hidden]="!svg"> 
           <!--<canvas #myCanvas id="shape"></canvas>-->
           <svg id="mySVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
        </div>
        <div id="imagePreview" [hidden]="!image">
            <img [src]="externalImage">
        </div>
    </div>
    <my-save-cancel-buttons></my-save-cancel-buttons>
</div>


<!--Imagen externa para pruebas http://cdn01.ib.infobae.com/adjuntos/162/imagenes/014/014/0014014674.jpg-->


