<!--
  Pestaña líneas
  Visualiza los componentes necesarios 
  para la caracterización de las líneas
  Incluído en app.component
-->

<div class="content-tab-line">
  <br>
  <my-checkbox 
              text-label-checkbox= {{checkText}}>
  </my-checkbox>
  <my-general 
              [show-g-type-combo]=false 
              [show-g-opacity-slider]=false 
              [show-g-width-slider]=false 
              [show-g-separation-slider]=false>
  </my-general>
  <border-style 
              text-label="Borde" 
              [show-check]=false 
              [show-combo]=false 
              [show-width-slider]=false 
              [show-opacity-slider]=false 
              [show-separation-slider]=false 
              [show-position-slider]=false>
  </border-style>
  <div id="sym-tabs">
    <md-tab-group>
        <md-tab label="Símbolo">
          <border-style 
                        text-label="Símbolo de línea" 
                        [show-lbl]=false 
                        [show-combo]=false 
                        [show-image]=false 
                        [show-size-slider]=false 
                        [show-opacity-slider]=false 
                        [show-rotate]=false 
                        [show-distance-slider]=false>
          </border-style>
        </md-tab>
        <md-tab label="Borde">
          <border-style 
                        text-label="Borde" 
                        [show-check]=false 
                        [show-width-slider]=false 
                        [show-opacity-slider]=false>
          </border-style>
        </md-tab>
      </md-tab-group>
  </div>
</div>            
