<div class="content-tab-polygon">
  <br>
  <my-checkbox text-label-checkbox="Polígono"></my-checkbox>
  <my-general 
              [g-opacity-slider]=false 
              [g-size-slider]=false>
  </my-general>
  <div class="border-tab">
    <md-tab-group>
      <md-tab label="Borde 1">
        <border-style 
                      text-label="Borde 1" 
                      [check]=false 
                      [combo]=false
                      [width-slider]=false 
                      [opacity-slider]=false 
                      [separation-slider]=false 
                      [position-slider]=false>
        </border-style>
      </md-tab>
      <md-tab label="Borde 2">
        <border-style 
                      text-label="Borde 2" 
                      [check]=false 
                      [combo]=false 
                      [width-slider]=false 
                      [opacity-slider]=false 
                      [separation-slider]=false 
                      [position-slider]=false>
        </border-style>
      </md-tab>
      <md-tab label="Borde 3">
        <border-style 
                      text-label="Borde 3" 
                      [check]=false 
                      [combo]=false 
                      [width-slider]=false 
                      [opacity-slider]=false 
                      [separation-slider]=false 
                      [position-slider]=false>
        </border-style>
      </md-tab>
    </md-tab-group>
    <div class="fill-tab">
      <md-tab-group>
      <md-tab label="Fill">
        <border-style 
                      text-label="Fill" 
                      [check]=false 
                      [combo]=false 
                      [image]=false 
                      [size-slider]=false 
                      [opacity-slider]=false 
                      [rotate]=false>
        </border-style>
      </md-tab>
      <md-tab label="Borde Fill">
        <border-style 
                      text-label="Borde Fill" 
                      [check]=false 
                      [width-slider]=false 
                      [opacity-slider]=false 
                      [separation-slider]=false>
        </border-style>
      </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>