<div class="content-tab-polygon">
  <br>
  <my-checkbox textLabelCheckBox="Polígono"></my-checkbox>
  <my-general [gOpacitySlider]=false [gSizeSlider]=false></my-general>
  <div class="border-tab">
    <md-tab-group>
      <md-tab label="Borde 1">
        <border-style textLabelCheckBox="Borde 1" [check]=false [combo]=false [widthSlider]=false [opacitySlider]=false [separationSlider]=false [positionSlider]=false></border-style>
      </md-tab>
      <md-tab label="Borde 2">
        <border-style textLabelCheckBox="Borde 2" [check]=false [combo]=false [widthSlider]=false [opacitySlider]=false [separationSlider]=false [positionSlider]=false></border-style>
      </md-tab>
      <md-tab label="Borde 3">
        <border-style textLabelCheckBox="Borde 3" [check]=false [combo]=false [widthSlider]=false [opacitySlider]=false [separationSlider]=false [positionSlider]=false></border-style>
      </md-tab>
    </md-tab-group>
    <div class="fill-tab">
      <md-tab-group>
      <md-tab label="Fill">
        <border-style textLabelCheckBox="Fill" [check]=false [combo]=false [image]=false [sizeSlider]=false [opacitySlider]=false [rotate]=false></border-style>
      </md-tab>
      <md-tab label="Borde Fill">
        <border-style textLabelCheckBox="Borde Fill" [check]=false [widthSlider]=false [opacitySlider]=false [separationSlider]=false></border-style>
      </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>