<!--
  Pestaña polígonos
  Visualiza los componentes necesarios 
  para la caracterización de los polígonos
  Incluído en app.component
-->

<div class="content-tab-polygon">
  <br>
  <my-checkbox text-label-checkbox="Polígono"></my-checkbox>
  <my-general 
              [show-g-opacity-slider]=false 
              [show-g-size-slider]=false>
  </my-general>
  <div class="border-tab">
    <md-tab-group>
      <md-tab label="Borde 1">
        <border-style 
                      text-label="Borde 1" 
                      [show-check]=false 
                      [show-combo]=false
                      [show-width-slider]=false 
                      [show-opacity-slider]=false 
                      [show-separation-slider]=false 
                      [show-position-slider]=false>
        </border-style>
      </md-tab>
      <md-tab label="Borde 2">
        <border-style 
                      text-label="Borde 2" 
                      [show-check]=false 
                      [show-combo]=false 
                      [show-width-slider]=false 
                      [show-opacity-slider]=false 
                      [show-separation-slider]=false 
                      [show-position-slider]=false>
        </border-style>
      </md-tab>
      <md-tab label="Borde 3">
        <border-style 
                      text-label="Borde 3" 
                      [show-check]=false 
                      [show-combo]=false 
                      [show-width-slider]=false 
                      [show-opacity-slider]=false 
                      [show-separation-slider]=false 
                      [show-position-slider]=false>
        </border-style>
      </md-tab>
    </md-tab-group>
    <div class="fill-tab">
      <md-tab-group>
      <md-tab label="Fill">
        <border-style 
                      text-label="Fill" 
                      [show-check]=false 
                      [show-combo]=false 
                      [show-image]=false 
                      [show-size-slider]=false 
                      [show-opacity-slider]=false 
                      [show-rotate]=false>
        </border-style>
      </md-tab>
      <md-tab label="Borde Fill">
        <border-style 
                      text-label="Borde Fill" 
                      [show-check]=false 
                      [show-width-slider]=false 
                      [show-opacity-slider]=false 
                      [show-separation-slider]=false>
        </border-style>
      </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>