<div [formGroup]="getFormGroup()" class="slider-container">
    <div class="sliderlbl">
        <label>{{textLabelSlider}}:</label>
    </div>
    <div class="slider-element">
        <md-slider 
                   [formControlName]="attrName"
                   (click)="setSliderValue($event)"
                   [(ngModel)]="sliderValue"
                   step="2" 
                   min= {{minValue}} 
                   max= {{maxValue}}
                   [disabled]="active">
        </md-slider>
    </div>
</div>