.save-cancel-container {
    /*border:  #1f618d 1px solid;*/
    float: right;
    width: 85px;
    margin-top: -90px;
    /*position: absolute;
    right: 400px;
    bottom: 0;*/
}
    .save-button-content {
        float: left;
    }
        #save-button {
            border: #1e8449 2px solid;
            background: #1e8449 ;
        }
        #save-icon {  
            color: #FFF;
        }   

    .cancel-button-content {
        float: right;
    }
        #cancel-button {
            background: #922b21;
            border: #922b21 2px solid;
        }
        #cancel-icon {
            color: #FFF;
        }

    button {
        font-weight: bold;
    }

