<div class="save-cancel-container">
  <div class="save-button-content">
    <button md-mini-fab id="save-button">
      <md-icon 
              md-svg-src="../../services/icons/whiteIcons/check.svg" 
              class="material-icons" 
              id="save-icon">
          check
      </md-icon>
    </button>
  </div>
  <div class="cancel-button-content">
    <button md-mini-fab id="cancel-button">
      <md-icon 
            md-svg-src="../../services/icons/whiteIcons/clear.svg" 
            id="cancel-icon">
        clear
      </md-icon>
    </button>
  </div>
</div>