<div [formGroup]="getFormGroup()" class="url-image-container">
  <div class="imglbl">
    <label class="url-image-component" id="imagelbl">Imagen: </label>
  </div>
  <div class="image">
    <md-input-container>
      <input mdInput 
             type="url" 
             placeholder="URL" 
             id="external-image" 
             [(ngModel)]="externalImage"
             [formControlName]="attrName">
    </md-input-container>
    <div class="buttonURL">
      <md-icon md-svg-src="../../services/icons/blackIcons/check.svg" (click)="createImage()">check</md-icon>
      <md-icon md-svg-src="../../services/icons/blackIcons/clear.svg" (click)="dropImage()">clear</md-icon>
    </div>
  </div>
</div>