.url-image-container {
    /*border:  #1f618d 1px solid;*/
    width: 250px;
    height: 40px;
}
    .imglbl {
        /*border:  #1f618d 1px solid;*/
        float: left;
        display: table;
        height: 40px;
    }
        #imagelbl {
            display: table-cell;
            vertical-align: middle;
        }

    .image {
        /*border:  #1f618d 1px solid;*/
        float: right;
        width: 120px;
        height: 40px;
    }
        #external-image {
            width: 70px;
        }
        .buttonURL {
            /*border:  #1f618d 1px solid;*/
            float: right;
            height: 40px;
            display: table;
        }
            md-icon {
                display: table-cell;
                vertical-align: middle;
            }


