<div class="container">
  <div class="content-tabs">
    <md-tab-group>
      <md-tab label="Puntos">
        <div class="point-container">
          <my-button [preview-comp]="previewComponent"></my-button>
          <br>
            <my-combo-data textLabelCombo="Símbolo"></my-combo-data>
          <br>
            <my-image></my-image>
          <br>
            <my-slider textLabelSlider="Transparentar"></my-slider>
          <br>
            <my-slider textLabelSlider="Tamaño"></my-slider>
          <br>
            <my-rotate></my-rotate>
          <br>
        </div>
        <border-style></border-style>
      </md-tab>


      <md-tab label="Líneas">
        <div class="line-container">
          <my-button></my-button>
          <md-tab-group id="line-tabs">
            <md-tab label="Línea 1">
              <div class="content-tab-line">
                <my-checkbox textLabelCheckBox="Línea 1"></my-checkbox>
              <br>
                <my-combo-data textLabelCombo="Tipo de línea"></my-combo-data>
              <br>
                <my-slider textLabelSlider="Transparentar"></my-slider>
              <br>
                <my-slider textLabelSlider="Ancho"></my-slider>
              <br>
                <my-slider textLabelSlider="Separación entre líneas"></my-slider>
              <br>
              </div>
            </md-tab>
            <md-tab label="Línea 2">
            </md-tab>
          </md-tab-group>
        </div>
        <border-style></border-style>
      </md-tab>

      
      <md-tab label="Polígonos"></md-tab>
      <md-tab label="Textos"></md-tab>
    </md-tab-group>
    
  </div>
  <my-preview #previewComponent></my-preview>
  <my-save-cancel-buttons></my-save-cancel-buttons>
</div>

<router-outlet></router-outlet>
