.border-style-container {
    border:  #000 1px solid;
    margin-left: 25px;
    width: 250px;
    height: 184px;
    padding: 8px;
    padding-bottom: 1px;
    float: left;
}

#border-style-button {
    float:right;
    background-color: #1f618d;
    color: white;
}
