<div class="border-style-container">
      <div id="lbl-text" [hidden]="lbl">
            <label>{{textLbl}}</label>
      </div>
      <my-checkbox [hidden]="check" textLabelCheckBox= {{textLabelCheckBox}}></my-checkbox>
      <div class="box1">
            <my-combo-data [hidden]="combo" textLabelCombo="Tipo"></my-combo-data>
            <my-image [hidden]="image"></my-image>
            <my-slider [hidden]="widthSlider" textLabelSlider="Ancho"></my-slider>
            <my-slider [hidden]="opacitySlider" textLabelSlider="Transparentar"></my-slider>
      </div>
      <div class="box2">
            <my-slider [hidden]="separationSlider" textLabelSlider="Separación"></my-slider>
            <my-slider [hidden]="sizeSlider" textLabelSlider="Tamaño"></my-slider>
            <my-slider [hidden]="distanceSlider" textLabelSlider="Distancia"></my-slider>
            <my-slider [hidden]="positionSlider" textLabelSlider="Posición"></my-slider>
            <my-rotate [hidden]="rotate"></my-rotate>
            <br>
            <my-button [hidden]="colorButton" id="border-color-button" textButton="Color"></my-button>
      </div>
</div>