<div class="container">
  <div class="box1">
    <my-combo-data 
                  [hidden]="gSymbolCombo" 
                  attr-name="symbol"
                  text-label-combo="Símbolo" 
                  place-holder = "Forma">
    </my-combo-data>
    <my-combo-data 
                  [hidden]="gTypeCombo" 
                  attr-name="type" 
                  text-label-combo="Tipo de línea" 
                  place-holder="Tipo">
    </my-combo-data>
    <my-image 
              [hidden]="gImage" 
              attr-name="externalImage">
    </my-image>
    <my-slider 
              [hidden]="gOpacitySlider" 
              attr-name="opacity" 
              text-label-slider="Transparentar">
    </my-slider>
  </div>
  <div class="box2">
    <my-slider 
              [hidden]="gWidthSlider" 
              attr-name="width" 
              text-label-slider="Ancho">
    </my-slider>
    <my-slider 
               [hidden]="gSizeSlider" 
               attr-name= "size"
               text-label-slider="Tamaño"
               >
    </my-slider>
    <my-rotate 
              [hidden]="gRotate" 
              attr-name="rotate" >
    </my-rotate>
    <my-slider 
              [hidden]="gSeparationSlider" 
              attr-name="separation"  
              text-label-slider="Separación" 
              title="Separación entre líneas">
    </my-slider>
    <br>
    <my-button 
               id="general-color-button" 
               attr-name="color" 
               text-button="Color">
    </my-button>
  </div>
</div>