<div class="container">
  <div class="box1">
    <my-combo-data [hidden]="gSymbolCombo" textLabelCombo="Símbolo" placeHolder = "Forma"></my-combo-data>
    <my-combo-data [hidden]="gTypeCombo" textLabelCombo="Tipo de línea" placeHolder="Tipo"></my-combo-data>
    <my-image [hidden]="gImage"></my-image>
    <my-slider [hidden]="gOpacitySlider" textLabelSlider="Transparentar"></my-slider>
  </div>
  <div class="box2">
    <my-slider [hidden]="gWidthSlider" textLabelSlider="Ancho"></my-slider>
    <my-slider [hidden]="gSizeSlider" textLabelSlider="Tamaño">
    </my-slider>
    <my-rotate [hidden]="gRotate"></my-rotate>
    <my-slider [hidden]="gSeparationSlider" textLabelSlider="Separación" title="Separación entre líneas"></my-slider>
    <br>
    <button md-button id="general-color-button">Color</button>
  </div>
</div>