.container{
    border:  #000 1px solid;
   /* margin-left: 25px;*/
    width: 550px;
    height: auto;
    padding: 8px;
    padding-bottom: 5px;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px; 
}

    .box1 {
        /*border:   #84381e 1px solid;*/
        float: left;
        margin-right: 15px;
    }

    .box2 {
        /*border:  #1f618d 1px solid;*/
        float: right;
        height: auto;
    }
        #general-color-button {
            float: right;
            margin-bottom: 5px;
        }

.hidden {
  display: none !important;
}
