<!--
  Pestaña puntos
  Visualiza los componentes necesarios 
  para la caracterización de los puntos
  Incluído en app.component
-->

<form [formGroup]="pointTabForm">
  <div class="content-tab-point">
    <my-checkbox 
                [parent-form]="pointTabForm" 
                attr-name="point" 
                text-label-checkbox="Punto">
    </my-checkbox>
    <my-general 
                attr-name="general"
                (onFormGroupChange)="onInnerFormGroupChange($event)" 
                [show-g-opacity-slider]="true"
                [show-g-symbol-combo]=false 
                [show-g-image]=false 
                [show-g-size-slider]=false 
                [show-g-rotate]=false>
    </my-general>

    <border-style 
                attr-name="border"
                (onFormGroupChange)="onInnerFormGroupChange($event)"
                text-label="Borde" 
                [show-check]=false 
                [show-width-slider]=false>
    </border-style>
  </div>
</form>

