<div  class="container-buttons">  
  <div class="color-button">
    <button md-button>
            Color
    </button>
  </div>
</div>

<!--[style.color]="color" 
 [cpPositionOffset]="'300%'"
 [(colorPicker)]="color" 

  (click)="colorPicker()"
                       [(colorPicker)]="color"
                      [cpPosition]="'bottom'"
                      [cpPositionRelativeToArrow]="false"
                      [cpOKButton]="true"
                      [cpSaveClickOutside]="true"
                      [cpCancelButton]="true"-->