<div class="rotate-container">
  <div class="rotate-label">
    <label class="rotate-element" id="rotatelbl">Rotar: </label>      
  </div>
  <div class="rotate-buttons">
    <button md-mini-fab class="rotate-element" id="rotate-btn"><md-icon md-svg-src="../images/whiteIcons/rotate_left.svg"></md-icon></button>
    <button md-mini-fab class="rotate-element" id="rotate-btn"><md-icon md-svg-src="../images/whiteIcons/rotate_right.svg"></md-icon></button>
    <input class="rotate-element" id="rotate-input" flex type="number">
    <label class="rotate-element" id="lbl">°</label>
  </div>
</div>