.rotate-container {
    /*border:  #1f618d 1px solid;*/
    width: 270px;  
    height: 41px;
}

    .rotate-label {
    /* border:  #1f618d 1px solid;*/
        width: 50px;
        float: left;
        height: 41px;
        display: table;
    }
        #rotatelbl {
            display: table-cell;
            vertical-align: middle;
        }

    .rotate-buttons {
        /*border:  #1f618d 1px solid;*/
        float: right;
    }
        #rotate-input {
            width: 25px;
            height: 20px;
        }

        md-icon {
            color: white;
        }

    .rotate-element {
        display: inline-block; 
        /*margin-right: -1px; */
        vertical-align: middle; 
        margin-right: 3px;
    }

    


