<div class="rotate-container">
  <div class="rotate-label">
    <label class="rotate-element" id="rotatelbl">Rotar: </label>      
  </div>
  <div class="rotate-buttons">
    <button md-mini-fab class="rotate-element" id="rotate-btn" (click)="rotateValue()"><md-icon>rotate_left</md-icon></button>
    <button md-mini-fab class="rotate-element" id="rotate-btn" (click)="rotateValue()"><md-icon>rotate_right</md-icon></button>
    <input class="rotate-element" id="rotate-input" flex type="number">
    <label class="rotate-element" id="lbl">°</label>
  </div>
</div>